@charset "UTF-8";
@import url(header.css);
@import url(introducao.css);
@import url(sobre-mim.css);
@import url(habilidades.css);
@import url(projetos.css);
@import url(global.css);
@import url(media-queries.css);

:root {
    --cor-principal: #FD7106;
    --cor-secundaria: #cccccc;
    --cor-terciario: #fff;
    --cor-bordas: #565656;
    --cor-suporte: #c25705;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-terciario);
}

html {
    scroll-behavior: smooth;
}

body {
    /* height: 400vh; */
    width: 100vw;
    background-color: #1F1F1F;
    overflow-x: hidden;
}

main {
    width: 65vw;
    margin: 0rem 10rem;
    /* background: #00000062; */
    padding: 5rem 10rem 0 10rem;
}

section {
    margin-bottom: 10rem;
}

.tooltip {
    position: relative;
}

.tooltip::after {
    content: 'Início';
    position: absolute;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    top: -10px;
    left: 30px;
    opacity: 0;
    transition: opacity .5s;
}

.sobre-icon::after {
    content: 'Sobre';
}

.habilidades-icon::after {
    content: 'Habilidades';
}

.projetos-icon::after {
    content: 'Projetos';
}

.contatos-icon::after {
    content: 'Contatos';
}

.tooltip:hover::after {
    opacity: 1;
}

.titulo-divisa {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--cor-bordas);
    border-radius: 2rem;
}

.titulo-divisa i {
    margin-right: 10px;
    font-size: .9rem;
}

.titulo-sessao {
    font-size: 3rem;
    margin: 2rem 0 5rem 0;
    position: relative;
}

.titulo-sessao span {
    color: var(--cor-principal);
}

/* ANIMAÇÃO */

.hidden {
    opacity: 0;
    filter: blur(10px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1s;
}

section.hidden:nth-child(odd) {
    transform: translateX(-100%);
}

section.hidden:nth-child(even) {
    transform: translateX(100%);
}

header.hidden {
    transform: translatey(-100%);
    transition: all 2s;
}

header.show {
    transition: all 2s;
}

aside.hidden {
    transform: translateY(100%);
}

aside.show {
    transition: all 2s;
}