.meu-cv-mobile,
.menu {
    display: none;
}

header {
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 75px;
}

#perfil-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;

    border: 1px solid #565656;
    border-radius: 2rem;
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo button {
    text-decoration: none;
    font-size: .85rem;
    padding: 10px 15px;
    color: var(--cor-secundaria);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);

    background-color: #1F1F1F;
    border: 1px solid var(--cor-bordas);
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.topo button:hover {
    transform: scale(1.1);
    border-color: var(--cor-principal);
    color: var(--cor-principal);

    i {
        color: var(--cor-principal);
    }
}

.topo button i {
    margin-right: 5px;
    color: var(--cor-secundaria);
    transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.topo img {
    width: 75px;
}

.foto-perfil {
    margin: 20px 0;
}

.foto-perfil img {
    width: 285px;
    border-radius: 50%;
}

.meu-nome {
    margin: 15px 0;
}

.meu-subtitulo {
    font-size: 1.2rem;
}

.meu-subtitulo p {
    color: var(--cor-secundaria);
}

.minhas-redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
}

.minhas-redes-sociais i {
    font-size: 20px;
    color: #525252;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid var(--cor-bordas);
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.minhas-redes-sociais i:hover {
    color: var(--cor-principal);
    border: 1px solid var(--cor-principal);
    transform: scale(1.1);
}

.meus-contatos button {
    text-decoration: none;
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-principal);

    width: 90%;
    padding: 12px 20px;
    font-size: .95rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.41);
    border-radius: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.meus-contatos button:hover {
    transform: scale(1.05);
    background-color: #1F1F1F;
    border: 1px solid var(--cor-principal);
    color: var(--cor-principal);

    i {
        color: var(--cor-principal);
    }
}

.meus-contatos i {
    margin-right: 10px;
}

/* BARRA LATERAL */

.barra-lateral {
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 75px;
}

.barra-lateral-nav {
    display: flex;
    flex-direction: column;
    width: 50px;
    padding: 20px 10px;

    text-align: center;
    border: 1px solid var(--cor-bordas);
    border-radius: 2rem;
}

.barra-lateral-nav ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style-type: none;
}

.barra-lateral-nav li {
    padding: 5px;
    border-radius: 50%;
}

.barra-lateral-nav i:hover {
    color: var(--cor-principal);
    transform: scale(1.2);
}