header {
    height: 100vh;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 30px;
}

#perfil-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;

    border: 1px solid #565656;
    border-radius: 2rem;
}


.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo button{
    text-decoration: none;
    font-size: .85rem;
    padding: 10px 15px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    
    background-color: #1F1F1F;
    border: 1px solid #565656;
    border-radius: 2rem;
    cursor: pointer;
}

.topo button:hover{
    transform: scale(1.1);
    border-color: #FD7106;
    color: #FD7106;
    i {
        color: #FD7106;
    }
}

.topo button i {
    margin-right: 5px;
    color: #525252;
}


.topo img {
    width: 75px;
}

.foto-perfil {
    margin: 20px 0;
}

.foto-perfil img {
    width: 285px;
    border-radius: 50%;
}

.meu-nome {
    margin: 15px 0;
}

.meu-subtitulo {
    font-size: 1.2rem;
}

.minhas-redes-sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
}

.minhas-redes-sociais i {
    font-size: 20px;
    color: #525252;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #565656;
    border-radius: 50%;
    cursor: pointer;
}

.minhas-redes-sociais i:hover {
    color: #FD7106;
    border: 1px solid #FD7106;

    transform: scale(1.1);
}

.meus-contatos button {
    text-decoration: none;
    background-color: #FD7106;
    border: 1px solid #FD7106;
    color: white;

    width: 90%;
    padding: 12px 20px;
    font-size: .95rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.41);
    border-radius: 2rem;
    cursor: pointer;
}

.meus-contatos button:hover {
    transform: scale(1.05);
    background-color: #1F1F1F;
    border: 1px solid #FD7106;
    color: #FD7106;
    i {
        color: #FD7106;
    }
}

.meus-contatos i {
    margin-right: 10px;
}