/* Introdução */

.introducao-container {
    margin-top: 7rem;
    /* background-color: #ffffff11; */
}

.introducao-container .apresentacao {
    margin: 5rem 0;
    text-align: justify;
}

.introducao-container .apresentacao h1 {
    font-size: 3rem;
    position: relative;
}

.introducao-container .apresentacao h1::after {
    content: "";
    position: absolute;
    left: -25px;
    bottom: -30px;
    width: 30%;
    border-bottom: 4px solid var(--cor-suporte);
}

.introducao-container .apresentacao h1 span {
    font-size: 4rem;
    color: var(--cor-principal);
}

.introducao-container .txt-resumo {
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-right: 10rem;
    margin-left: 1rem;
}

.introducao-container .txt-resumo li {
    margin-bottom: 1.5rem;
    color: var(--cor-secundaria);
}
