/* section.sobre-mim {
    margin-top: 16rem;
} */

/* .titulo-sessao {
    margin-top: 5rem;
} */

.txt-sobre-mim {
    font-size: 1.3rem;
    line-height: 1.8;
    color: var(--cor-secundaria);

    margin-top: 3rem;
    margin-right: 10rem;
}